{% load static %}
<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="nav w-nav">
    <div id="top" class="nav-container w-container">
        <a href="/" aria-current="page" class="brand w-nav-brand w--current">
            <img src="{% static 'themes/trace/images/Trace-Bantay-Digital.png' %}" 
                srcset="{% static 'themes/trace/images/Trace-Bantay-Digital-p-500.png' %} 500w, 
                        {% static 'themes/trace/images/Trace-Bantay-Digital.png' %} 562w" 
                sizes="(max-width: 479px) 78vw, 240px" 
                alt="Trace | Bantay Digital" 
                class="image-2">
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <a href="/" aria-current="page" class="nav-link-3 w-nav-link w--current">home</a>
            <a href="/page/terms-and-conditions/" class="nav-link-3 w-nav-link">terms &amp; conditions</a>
            {% if not request.user.is_authenticated %}
                <a href="/trace/register/resident/" class="nav-link-3 w-nav-link">signup</a>
                <a href="/login/" class="nav-link-3 w-nav-link">login</a>
                <a href="https://bantay.digital" target="_blank" class="nav-link-3 w-nav-link">bantay.digital</a>
            {% else %}
                <a href="/trace/dashboard/" class="nav-link-3 w-nav-link">dashboard</a>
                <a href="/accounts/logout/" class="nav-link-3 w-nav-link">logout</a>
            {% endif %}
        </nav>
        <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
    </div>
</div>