{% load static qr_code crispy_forms_tags tz %}
<!-- Modal -->

<div id="printThis">
  <div class="modal fade" id="print-lgu-id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                {% if request.user.is_location %}
                  <h5 class="modal-title" id="exampleModalLabel">Trace Bantay Digital LGU ID</h5>
                {% else %}
                  <h5 class="modal-title" id="exampleModalLabel">Trace Bantay Digital Resident ID</h5>
                {% endif %}
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>

              </div>
              <div class="modal-body">
                <div class="qr-container">
                  {% if request.user.is_location %}
                    {% qr_from_text request.user.uuid size=20 border=6 %}
                  {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset disabled="disabled">
                          <label for="{{ request.user.first_name }}">LGU Administrator:</label>
                          <b>{{ request.user.first_name }}</b>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset disabled="disabled">
                        <label for="{{ request.user.address }}">LGU Address:</label>
                        <b>{{ request.user.address }}</b>
                      </fieldset>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" id="btn-print-close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" id="btn-print" class="btn btn-success">Print</button>
              </div>
          </div>
      </div>
  </div>
</div>


<script type="text/javascript">
  document.getElementById("btn-print").onclick = function () {
    printElement(document.getElementById("printThis"));
}

function printElement(elem) {
    var domClone = elem.cloneNode(true);

    var $printSection = document.getElementById("printSection");

    if (!$printSection) {
        var $printSection = document.createElement("div");
        $printSection.id = "printSection";
        document.body.appendChild($printSection);
    }

    $printSection.innerHTML = "";
    $printSection.appendChild(domClone);
    window.print();
}
</script>
