[application]
server = POD1
server_url = localhost
logo =
debug = True

# Configure for yourself
[database]
database = bantaydigital
username = root
password =
hostname = localhost

[modules]
modules = ('blog', 'shop')

[hosts]
allowed = localhost
		  wyverncms.com
		  site.com

# SPAM FILTER
[filter]
filters = talkwithwebvisitor.com
          anna@hotmail.com
          yourbestcustomer.top
          buy@newscrypto.io
          'Emory Reye'
          @hilkom-digital.de
          susanellis5686@gmail.com


[uploads]
folder = users/images

# CONFIGURE SITE SPECIFIC MANAGEMENT SECTIONS
# TODO NoSectionError is erroring out requiring this section to be required

# SITES IN DEVELOPMENT

[site.com]
sections=jobs_section,orders_section,products_section,product_categories_section,pages_section,inventory_section,shipping_section,payment_method_section
post_type=job,articles,gallery

######
