appdirs==1.4.4
asgiref==3.2.10
beautifulsoup4==4.9.1
black==20.8b1
click==7.1.2
configparser==5.0.0
dataclasses==0.7
datefinder==0.7.1
distlib==0.3.1
Django==3.1
django-appconf==1.0.4
django-bs4==0.0.3
django-ckeditor==5.9.0
django-compressor==2.4
django-cors-headers==3.4.0
django-countries==6.1.3
django-crispy-forms==1.9.2
django-js-asset==1.2.2
django-money==1.1
django-qr-code==1.2.0
django-qrcode==0.3
django-user-agents-last==0.3.1
djangorestframework==3.11.1
filelock==3.0.12
importlib-metadata==1.7.0
importlib-resources==3.0.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.20
mysqlclient==2.0.1
pathspec==0.8.0
Pillow==7.2.0
protobuf==3.12.2
py-moneyed==0.8.0
python-dateutil==2.8.1
pytz==2020.1
qrcode==6.1
rcssmin==1.0.6
regex==2020.7.14
rjsmin==1.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
ua-parser==0.10.0
Unidecode==1.1.1
user-agents==2.1
virtualenv==20.0.31
zipp==3.1.0
