/* Basic Theme Reset */
nav.navbar {
    top: 0;
}

nav.navbar.navbar-expand-lg.static-top .container {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

*:active,
*:selected,
*:hover,
*:focus {
    border: 0 none;
    outline-color: none !important;
    outline-style: none !important;
    outline: 0 none !important;
}

/* Kerplunk Studios */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #101010;;
    font-family: 'Quicksand', sans-serif;
    color: #333333;
}

body a:hover {
    color: #CECECE;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/* Kerplunk Studios Basic Theme Classes */
section {
    color: #FFFFFF;
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding: 10% 5%;
}

.text-shadow {
    text-shadow: 1px 1px 4px #000000;
    -webkit-text-shadow: 1px 1px 4px #000000;
    -moz-text-shadow: 1px 1px 4px #000000;
}

button {
    padding: 10px 25%;
    border: 0 none;
    background-color: #DCAD54;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    opacity: 0.90;
    margin: 5px;
    color: #FFFFFF;
}

button i {
    color: #FFFFFF;
}

button:hover {
    opacity: 1;
    color: #FFFFFF;
}

.vignette {
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  -moz-box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  -webkit-box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.center-placeholder::-webkit-input-placeholder {
   text-align: center;
}

.center-placeholder:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.center-placeholder::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.center-placeholder:-ms-input-placeholder {  
   text-align: center; 
}
/* End Kerplunk Studios Basic Theme Classes */

/* Kerplunk Studios Header */
    /* Kerplunk Studios Header Menu */
    nav.navbar {
        color: #FFFFFF;
        position: fixed;
        width: 100%;
    }

    nav.navbar * {
        color: #FFFFFF;
    }

    .navbar-brand img {
        float: left;
        margin-right: 8px;
    }

    .navbar-brand .brand-text {
        margin-top: 5px;
        font-weight: 500;
        float: left;
        line-height: 18px;
    }

    .navbar-brand .brand-text small {
        font-size: 60%;
    }

    /* User Menu */
    nav .dropdown .dropdown-menu {
        margin-left: -120px;
    }

    nav .dropdown a {
        color: #333333;
    }
    /* End User Menu */
    /* End Kerplunk Studios Header Menu */

    /* Header Hero Banner */
    section.hero-banner#header-hero-banner {
        background-size: cover;
        background-image: url('../images/banner-sample.jpg');
        background-repeat: no-repeat;
    }

    section.hero-banner#header-hero-banner button {
        padding: 10px 5%;
    }

    section.hero-banner#header-hero-banner h2 {
        color: #FFFFFF;
    }
    /* End Header Hero Banner */
/* End Kerplunk Studios Header */

/* Kerplunk Studios Homepage */
    /* SECTION: Voice Talent Browse */
    section#homepage-browser {
        padding: 5% 0;
        background-color: #EEEEEE;
    }

    section#homepage-browser #pillsTabHomepageBrowse {
        padding: 0 10%;
        width: 100%;
        border-bottom: 1px solid #CECECE;
    }

    section#homepage-browser #pillsTabHomepageBrowse li {

        width: 33%;

        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }

    section#homepage-browser #pillsTabHomepageBrowse li a {
        color: #979797;

        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }

    section#homepage-browser #pillsTabHomepageBrowse li a.active,
    section#homepage-browser .nav-pills .nav-link.active {
        color: #333333;
        font-weight: 500;
        background-color: #EEEEEE;

        border-bottom: 5px solid #333333;
    }

    section#homepage-browser .tab-content {
        color: #333333;
    }
    /* END SECTION: Voice Talent Browse */

    /* SECTION: Call To Action Focus */
    section#homepage-cta-focus {
        background-size: cover;
        background-image: url('../images/banner-sample-1.jpg');
        background-repeat: no-repeat;
        padding: 5%;
    }
    /* SECTION: Call To Action Focus */

    /* SECTION: Tag Cloud */
    section#homepage-tag-cloud {
        background-color: #101010;
        padding: 5%;
    }

    section#homepage-tag-cloud .tag-list {
        margin-top: 20px;
        border-top: 1px solid #313131;
    }

    section#homepage-tag-cloud .tag-list li {
        background: transparent;
        border-bottom: 1px solid #313131;
    }

    section#homepage-tag-cloud .tag-list li a {
        color: #FFFFFF;
    }
    /* END SECTION: Tag Cloud */

    /* SECTION: Icon Nav */
    section#homepage-icon-nav {
        background-color: #101010;
        padding: 0 5% 5% 5%;
    }

    section#homepage-icon-nav .inner-container {
        color: #333333;
        background-color: #FFFFFF;
        min-height: 340px;
        padding: 5%;
    }

    section#homepage-icon-nav .inner-container .button-grid .col-md-6 {
        height: 140px;
    }

    section#homepage-icon-nav .inner-container .button-grid i {
        font-size: 3.5em;
    }

    section#homepage-icon-nav .inner-container .button-grid h5 {
        margin-top: 20px;
        font-size: 1em;
        font-weight: 300;
    }

    section#homepage-icon-nav .inner-container .text-content {
        text-align: left;
    }

    section#homepage-icon-nav .inner-container .text-content button {
        margin-top: 20px;
    }

    section#homepage-icon-nav .bottom-grid-content {
        color: #333333;
        background-color: #EEEEEE;
        min-height: 164px;
        border: 1px solid #C1C1C1;
    }

    section#homepage-icon-nav .bottom-grid-content .text-content {
        padding: 5%;
        border: 1px solid #C1C1C1;
    }

    section#homepage-icon-nav .bottom-grid-content .col-md-4 {
        height: 81px;
        margin: 0 auto;
        display: block;
        font-size: 2em;
        line-height: 81px;
        border: 1px solid #C1C1C1;
    }
    /* END SECTION: Icon Nav */

    /* SECTION: Newsletter Signup */
    section#homepage-newsletter-signup {
        background-size: cover;
        background-image: url('../images/banner-sample-2.jpg');
        background-repeat: no-repeat;
        padding: 5%;
    }

    section#homepage-newsletter-signup h2 {
        font-size: 2em;
        color: #DCAD54;
    }
    /* END SECTION: Newsletter Signup */

    /* SECTION: Quick Links */
    section#homepage-quicklinks {
        background-color: #101010;
        padding: 5%;
    }

    section#homepage-quicklinks h5 {
        color: #DCAD54;
        text-align: left;
    }

    section#homepage-quicklinks ul {
        padding: 0;
        margin: 0;
    }

    section#homepage-quicklinks ul li {
        height: 1.4em;
        background-color: transparent;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    section#homepage-quicklinks ul li a {
        color: #FFFFFF;
        text-align: left;
    }
    /* END SECTION: Quick Links */
/* End Kerplunk Studios Homepage */

/* Kerplunk Studios Blog List Page */
body.post {
    background-color: #EEEEEE;
}

body.post .main-container {
    padding: 5%;
}
/* End Kerplunk Studios Blog List Page */

/* Kerplunk Studios Footer */
footer {
    background-color: #101010;
    color: #FFFFFF;
    text-align: center;
    padding: 25px 0;
}

footer .social-links {
    margin: 10px auto;
    width: 162px;
}

footer .social-links li {
    background-color: transparent;
}

footer .social-links li i {
    font-size: 1.2em;
}
/* End Kerplunk Studios Footer */

/* Back to Top Button */
#back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    border: 0 none;
    background-color: #DCAD54;
}
/* End Back to Top Button */

/* GDPR Message */
#gdpr-cookie-message {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 50px 0;
    background-color: #EEEEEE;
}
/* End GDPR Message */

/* Forms */
#signup-form {
    padding-top: 100px;
}

.login-container {
    padding-top: 100px;
}
/* End Forms */


/*
 *
 *  Media Queries
 *
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Header Hero Banner */
    section.hero-banner#header-hero-banner {
        padding: 30% 10%;
    }
    /* End Header Hero Banner */

    /* SECTION: Voice Talent Browse */
    section#homepage-browser #pillsTabHomepageBrowse {
        padding: 0;
    }
    /* END SECTION: Voice Talent Browse */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}