{% extends theme_config.wyverntheme_base_layout %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-4 offset-4 login-container form-container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Change password</h5>
            {% if validlink %}
                <hr />
                <!--{% if form.errors %}
                {# comment #}
                {% for error in form.errors %}
                    <div class="alert alert-danger mt-1" role="alert">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ error|escape }}
                    </div>
                {% endfor %}
                {# endcomment #}
                 <div class="alert alert-danger mt-1" role="alert">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    There are errors in your form
                </div>
                <hr/>
                {% endif %}-->
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <hr/>
                    <button type="submit" class="btn btn-success float-right">Update</button>
                </form>
                <a href="{% url 'login' %}" class="card-link">Login</a>
            {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}