body {
    /* Consumer */
    background-color: #ed1e79;
    background-image: linear-gradient(90deg, #ed1e79 25%, #fbb03b 100%);

    color: #FFFFFF;x
}

body {
    /* Location / Establishment  */
    background-color: #ed1e79;
    background-image: linear-gradient(90deg, #ed1e79 25%, #fbb03b 100%);
}    

body nav a {
    color: #FFFFFF;
}

main {
    color: #000000;
}

main .container {
    background-color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    padding: 25px 50px;
}