<!-- TODO SEPARATE INTO TEMPLATE -->
{% include 'themes/kerplunk/sections/browser.html' %}

<!-- Focal Call to Action -->
<section id="homepage-cta-focus" class="no-gutters vignette">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h3>What is Lorem Ipsum?</h3>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <button>Call to Action</button>
            </div>

        </div>
    </div>
</section>

<!-- Tag Cloud -->
<section id="homepage-tag-cloud">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-left">Popular Tag Searchers</h3>
            </div>

            <div class="col-md-2">
                <ul class="tag-list list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <ul class="tag-list list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <ul class="tag-list list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <ul class="tag-list list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <ul class="tag-list list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-2">
                <ul class="tag-list list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>

<!-- Icon Navigation -->
<section id="homepage-icon-nav">
    <div class="container">
        <div class="row inner-container">
            <div class="col-md-6">
                <div class="row button-grid">

                    <div class="col-md-6">
                        <i class="fa fa-music" aria-hidden="true"></i>
                        <h5>Lorem Ipsum</h5>
                    </div>

                    <div class="col-md-6">
                        <i class="fa fa-music" aria-hidden="true"></i>
                        <h5>Lorem Ipsum</h5>
                    </div>

                    <div class="col-md-6">
                        <i class="fa fa-music" aria-hidden="true"></i>
                        <h5>Lorem Ipsum</h5>
                    </div>

                    <div class="col-md-6">
                        <i class="fa fa-music" aria-hidden="true"></i>
                        <h5>Lorem Ipsum</h5>
                    </div>

                </div>
            </div>

            <div class="col-md-6 text-content">
                <h3>What is Lorem Ipsum?</h3>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                </p>

                <button>Call to Action</button>
            </div>

        </div>

        <div class="row bottom-grid-content">

            <div class="col-md-6 text-content">
                <h3>What is Lorem Ipsum?</h3>
            </div>
            <div class="col-md-6">
                <div class="row">

                    <div class="col-md-4">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </div>

                    <div class="col-md-4">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<!-- Newsletter Signup -->
<section id="homepage-newsletter-signup" class="no-gutters vignette">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h2>Lorem Ipsum Dolor Sit Amet</h2>
                <p>Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet.</p>
                <input type="text" class="form-control center-placeholder" placeholder="Email Address" />
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter Signup -->
<section id="homepage-quicklinks">
    <div class="container">
        <div class="row">

            <div class="col-md-3">

                <h5>Category</h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3">

                <h5>Category</h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3">

                <h5>Category</h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3">

                <h5>Category</h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            Lorem
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>

<!-- FOOTER -->