// Wyvern Template Variables

// DEFAULT

$black: #676767;
$white: #fefefe;

// Fonts
$primary-font: 'Exo', sans-serif;
$primary-font-size: .9em;
$primary-font-color: $black;
$primary-font-weight: 100;


// DASHBOARD
$dashboard-font-size: .8em;

// Helper Variables
