body {
    /* Consumer */
    background-color: #ed1e79;
    background-image: linear-gradient(90deg, #ed1e79 25%, #fbb03b 100%);

    color: #FFFFFF;x
}

body {
    /* Location / Establishment  */
    background-color: #ed1e79;
    background-image: linear-gradient(90deg, #ed1e79 25%, #fbb03b 100%);
}
main {
    color: #000000;
}

main .container,
main .container-fluid {
    background-color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    padding: 25px 50px;
}

/* TOP NAV */
.nav-container.w-container {
    width: 100%;
}
/* END TOP NAV */

/* REGISTRATION PAGE */
.registration .nav.nav-tabs {
    background: none;
}

.registration .tab-pane .card {
    margin-top: -1px;
}
/* END REGISTRATION PAGE */

/* DASHBOARD PAGE */
.dashboard .nav.nav-tabs {
    background: none;
}
/* END DASHBOARD PAGE */

/* FOOTER */
.footer .w-list-unstyled li {
    text-align: left;
}
/* END FOOTER */

/* LGU PAGES */
.dt-buttons.btn-group.flex-wrap {
    margin-bottom: 10px;
}
/* END LGU PAGES */
