{% extends theme_config.wyverntheme_base_layout %}
{% load static qr_code crispy_forms_tags tz %}
{% timezone "Asia/Manila" %}

{% block content %}

<div class="container dashboard">
    <div class="row">
        <input type="hidden" id="user_type" value="{% if request.user.is_location%}LOCATION{% else %}USER{% endif %}"/>
        <input type="hidden" id="user_uuid" value="{{ request.user.uuid }}"/>
        <input type="hidden" id="user_first_name" value="{{ request.user.first_name }}"/>
        <input type="hidden" id="user_last_name" value="{{ request.user.last_name }}"/>
        <input type="hidden" id="user_phone" value="{{ request.user.phone }}"/>
        <input type="hidden" id="user_address" value="{{ request.user.address }}"/>

        <div class="col-md-4 text-center">
            <h5 class="mt-4">This is your personal QR Code</h5>
            <hr/>
            <div class="qr-container">
                {% qr_from_text request.user.uuid size=20 border=6 %}
            </div>
            <a href="#" class="btn btn-primary mt-3" data-toggle="modal" data-target="#qr-code-reader">Launch QR reader</a>
            {% include 'themes/basic/includes/qr-code/qr-code-reader-modal.html' %}
            <hr/>
            <div class="alert alert-primary" role="alert">
                <strong>Trace.bantay.digital</strong> is a very small team of professionals and artists, volunteering time and effort to create an absolutely free log book replacement app for easy contact tracing.
                We would appreciate any bug reports and suggestions. Volunteers are also welcome!
                <hr/>
                <a href="/contact/" class="btn btn-success"><i class="fa fa-email" aria-hidden="true"></i>Contact Us</a>
            </div>
        </div>

        <div class="col-md-8 col-sm-12">
            <h5 class="pt-3 pb-2">
                Dashboard
                <span class="float-right">
                    {% if request.user.is_location %}
                    <strong>ESTABLISHMENT: {{ request.user.first_name }}</strong>
                    {% else %}
                    <strong>USER: {{ request.user.first_name }} {{ request.user.last_name }} </strong>
                    {% endif %}
                </span>
            </h5>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#logs">Recent Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#medical-form">Medical Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#details">Details</a>
                </li>
            </ul>
            <div class="tab-content mt-3">
                <div id="logs" class="tab-pane fade">
                    <h5>Your recent logs</h5>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <th>Datetime</th>
                            <th>Location</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Temperature</th>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            <tr>
                                <td>{{ log.wyvern_trace_date|localtime }}</td>
                                <td>{{ log.wyvern_location.first_name }} </td>
                                <td>{{ log.wyvern_user.first_name }} {{ log.wyvern_user.last_name|make_list|slice:':1'|join:''  }}.</td>
                                <td>{{ log.wyvern_user.phone }}</td>
                                <td>{{ log.wyvern_user.address }}</td>
                                <td>{{ log.wyvern_temperature }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="medical-form" class="tab-pane fade" class="tab-pane fade show active">
                  <h4>Important: Always update this medical form before going outside for medical convenience.</h4>
                  <form action="" method="post">
                    <ol>
                      <li>
                        Are you experiencing : (Nakakaranas ka ba ng :)
                        <ul>
                          <li>Sore throat (Pananakit ng lalamunan / Masakit lumunok)</li>
                          <label for="sore-throat" class="radio-inline">
                            <input type="radio" name="sore-throat" value="Yes">Yes
                            <input type="radio"  name="sore-throat" value="No">No
                          </label>
                          <li>Body pains (Pananakit ng katawan)</li>
                          <label for="body-pain" class="radio-inline">
                            <input type="radio"  name="body-pain" value="Yes">Yes
                            <input type="radio"  name="body-pain" value="No">No
                          </label>
                          <li>Headache (Pananakit ng ulo) </li>
                          <label for="head-ache" class="radio-inline">
                            <input type="radio"  name="head-ache" value="Yes">Yes
                            <input type="radio"  name="head-ache" value="No">No
                          </label>
                          <li>Fever for the past few days (Lagnat sa nakalipas na mga araw) </li>
                          <label for="fever" class="radio-inline">
                            <input type="radio"  name="fever" value="Yes">Yes
                            <input type="radio"  name="fever" value="No">No
                          </label>
                        </ul>
                      </li>
                      <li>Have you worked together or stayed in the same close environment of confirmed COVID-19 case? (May nakasama ka ba o nakatrabahong kumpirmado sa COVID-19/  may impeksyon ng coronavirus?)</li>
                      <label for="near-covid" class="radio-inline">
                        <input type="radio"  name="near-covid" value="Yes">Yes
                        <input type="radio"  name="near-covid" value="No">No
                      </label>
                      <li>Have you had any contact with anyone with fever, cough, colds and sore throat in the past 2 weeks ? (Mayroon ka bang nakasama na may lagnat , ubo, sipon o sakit ng lalamunan sa nakalipas na dalawang (2) lingo ?)</li>
                      <label for="contact-symptoms" class="radio-inline">
                        <input type="radio"  name="contact-symptoms" value="Yes">Yes
                        <input type="radio"  name="contact-symptoms" value="No">No
                      </label>
                      <li>Have you travelled outside of the Philippines in the last 14 days? (Ikaw ba ay nagbyahe sa labas ng Pilipinas sa nakalipas na 14 na araw?)</li>
                      <label for="outside-philippines" class="radio-inline">
                        <input type="radio"  name="outside-philippines" value="Yes">Yes
                        <input type="radio"  name="outside-philippines" value="No">No
                      </label>
                      <li>Have you travelled to any area in NCR aside from your home ? (Ikaw ba ay nagpunta sa ibang parte ng NCR o Metro Manila bukod sa iyong bahay?)</li>
                      <label for="travelled-ncr" class="radio-inline">
                        <input type="radio"  name="travelled-ncr" value="Yes">Yes
                        <input type="radio"  name="travelled-ncr" value="No">No
                      </label>
                    </ol>
                    <button type="submit" class="btn btn-success float-right">Update</button>
                  </form>
                </div>
                <div id="details" class="tab-pane fade">
                    {% with "themes/trace/partials/forms/"|add:type|add:"-form.html" as template %}
                        {% include template %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% endtimezone %}
