{% load static %}
{% block content %}

<div class="header">
  <div class="html-embed w-embed w-iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30619.983930967566!2d120.57126561552323!3d16.399515745043285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3391a16879def13f%3A0x8edef534be3a75c0!2sBaguio%2C%20Benguet!5e0!3m2!1sen!2sph!4v1595844861350!5m2!1sen!2sph" 
            width="100%" 
            height="700" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="" 
            aria-hidden="false" 
            tabindex="0">
    </iframe>
  </div>
</div>
<div class="section-2">
  <div class="data-container w-container">
    <div class="w-layout-grid data-grid">
      <div id="w-node-a0f5e4f923d5-b789f9b3" 
          data-w-id="0989a344-c4d2-6246-e0f3-a0f5e4f923d5" 
          style="-webkit-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" 
          class="header-container">
          <img src="{% static 'themes/trace/images/Morning.png' %}" 
              srcset="{% static 'themes/trace/images/Morning-p-500.png' %} 500w, 
                      {% static 'themes/trace/images/Morning.png' %} 626w" 
              sizes="64px" alt="Morning" class="icon nega">
        <h3 class="heading-2">Baguio, the future of this pandemic in your hands</h3>
        <p>The Corona Virus has hit hard globally and it is affecting the common public more than most. Anyone can be caught off guard and get infected, this is the reason why everyone must keep vigilant. As residents of one of the cities who&#x27;ve succesfully kept infection numbers low, it is known that this has only been possible with the cooperations of its citizens.We believe we can further help our LGU and give people more freedom by enabling locals and establishments help make contact tracing quicker thru voluntary disclosure of location logs for contact tracing purposes.</p>
      </div>
      <div id="w-node-e1873e885677-b789f9b3" 
          data-w-id="477a8219-5d40-d075-bd0d-e1873e885677" 
          style="opacity:0" 
          class="header-container">
        <img src="{% static 'themes/trace/images/Adventure.png' %}" 
            srcset="{% static 'themes/trace/images/Adventure-p-500.png' %} 500w, 
                    {% static 'themes/trace/images/Adventure.png' %} 626w" 
            sizes="64px" 
            alt="Adventure" 
            class="icon">
    
        <h3>Covid Related Resource Links</h3>
        <div class="w-layout-grid grid-2">
          <a id="w-node-e1873e88567b-b789f9b3" 
              href="https://www.facebook.com/pio.baguio/" 
              target="_blank" 
              class="link-block w-inline-block">
            <div class="text-block-4">
              Covid Related Resource Links
            </div>
          </a>
          <a id="w-node-e1873e88567e-b789f9b3" 
              href="http://endcov19.baguio.gov.ph/" 
              target="_blank" 
              class="link-block w-inline-block">
            <div class="text-block-4">
              EndCov Baguio
            </div>
          </a>
        <a id="w-node-33ebf144868c-b789f9b3" 
            href="https://hdf.baguio.gov.ph/welcome" 
            target="_blank" 
            class="link-block w-inline-block">
          <div class="text-block-4">
            HDF<br>Baguio
          </div>
        </a>
      </div>
      </div>
      <div id="w-node-121240ccf605-b789f9b3" 
          data-w-id="1e34791f-3b41-a2e4-ed38-121240ccf605" 
          style="-webkit-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" 
          class="header-container">
          <img src="{% static 'themes/trace/images/Tech.png' %}" 
            srcset="{% static 'themes/trace/images/Tech-p-500.png' %} 500w, 
                    {% static 'themes/trace/images/Tech.png' %} 626w" 
            sizes="64px" 
            alt="Tech" 
            class="icon">
          <h3 class="heading green">Registration</h3>
          <h4 class="heading">Establishment</h4>
          <p>The LGU requires log entries for each patron entering your premises, make it easier for your customers by simple letting them scan your establishments QR code.</p>
          <div class="reg-div">
            <a href="/trace/register/establishment/" class="submit-button reg w-button">
              Register as an establishment
            </a>
          </div>
          <h4 class="heading">Resident</h4>
          <p>Avoid long lines by quickly logging your location using our Progressive Web App.</p>
          <div class="reg-div">
            <a href="/trace/register/resident/" class="submit-button reg w-button">
              Register as a resident
            </a>
          </div>
      </div>
      <div id="w-node-b051a817afce-b789f9b3" data-w-id="7a9284b9-7aa3-bd23-d834-b051a817afce" style="opacity:0" class="header-container">
        <div class="title-big">
          <div>CONFIRMED CASES</div>
        </div>
        <div class="numbers">
          <div class="w-layout-grid grid">
            <div class="case-cat">ACTIVE</div>
            <div class="case-cat">DEATHS</div>
            <div class="case-cat">RESOLVED</div>
            <div class="case-number">14</div>
            <div class="case-number">2</div>
            <div class="case-number">220</div>
          </div>
        </div>
        <img src="{% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM.png' %}" 
            srcset="{% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM-p-500.png' %} 500w, 
                    {% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM-p-800.png' %} 800w, 
                    {% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM-p-1080.png' %} 1080w, 
                    {% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM.png' %} 1120w" 
            sizes="(max-width: 479px) 59vw, (max-width: 767px) 77vw, (max-width: 991px) 79vw, 84vw" 
            alt="Trace" class="chart">
      </div>
    </div>
  </div>
</div>
<div class="section mobile">
  <div class="left-col">
    <div class="button-container">
      <img src="{% static 'themes/trace/images/Digital.png" 
          srcset="{% static 'themes/trace/images/Digital-p-500.png' %} 500w, 
                  {% static 'themes/trace/images/Digital.png' %} 626w" 
          sizes="(max-width: 479px) 48px, 64px" 
          data-w-id="8558cfe9-2d0f-a867-f364-23bb19c5e19d" 
          style="opacity:0" 
          alt="Digital" 
          class="sample-images">
    </div>
    <h2 data-w-id="48bfab11-9aeb-3a90-d1bd-840a3bae22dd" style="opacity:0">About TRACE</h2>
    <div>
      <ul role="list">
        <li>
          <div>To create a Contact Tracing Application that identifies and traces people who have been in close contact with a COVID-19 Positive patient.This is a systematic database that can be used as a supplementary tool by our city’s existingContact Tracing Team for a potentially faster and more efficient data collection.</div>
        </li>
        <li>
          <div>To amplify community engagement and public support towards a Contact Tracing App considering the local context of Baguio City.</div>
        </li>
        <li>
          <div>To lessen the gaps in getting the accurate travel history and finding close contacts of a COVID -19 Positive Patient.</div>
        </li>
      </ul>
    </div>
    <div data-w-id="b1ec1bef-c976-7b02-02e9-896668ed9c26" style="opacity:0" class="accordion-group">
      <div data-w-id="b1ec1bef-c976-7b02-02e9-896668ed9c27" class="accordion-title-panel">
        <h5 class="accordion-heading">Read More</h5>
        <img src="{% static 'themes/trace/images/icon-arrow-right.svg' %}" alt="" class="accordion-arrow">
      </div>
      <div style="display:none;opacity:0" class="accordion-content">
        <ul role="list">
          <li>
            <div>To help minimize the timeand labor it takes whenentering checkpointsand entrances.</div>
          </li>
          <li>
            <div>To include individuals who do not have smartphones, and/or are not tech-savvy.</div>
          </li>
          <li>
            <div>To give the people of Baguio the right to choose whether or not to use the application, but to eventually entice them to make use of it for convenience, safety and speed</div>
          </li>
          <li>
            <div>To reassure the people of Baguio that their data shall be used for Contact Tracing purposes only.</div>
          </li>
          <li>
            <div>To constantly remind and persuade people to use the app through Media and Marketing.</div>
          </li>
          <li>
            <div>To further enhance the Contact Tracing System in Baguio City, and eventually share the system to other parts of the country to possibly give the whole nation an efficient way to control the spread COVID-19.</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="right-col">
    <img src="{% static 'themes/trace/images/UI-bigger.png' %}" 
        data-w-id="edbfbd4c-208a-bb94-fd3b-e418803eedcf" 
        style="opacity:0" 
        alt="Trace UI" 
        class="image-3">
    <a href="/page/about/" 
        data-w-id="0bc9ae6d-7130-69a7-36df-1c331711d995" 
        style="opacity:0" 
        class="submit-button white w-button">
          Read more
    </a>
  </div>
</div>
<div class="section mobile opposite">
    <div class="right-col diagram">
      <a href="#" class="w-inline-block w-lightbox">
        <img src="{% static 'themes/trace/images/diagram-1.png' %}" 
            srcset="{% static 'themes/trace/images/diagram-1-p-500.png' %} 500w, 
                    {% static 'themes/trace/images/diagram-1-p-800.png' %} 800w, 
                    {% static 'themes/trace/images/diagram-1.png' %} 850w" 
            sizes="(max-width: 479px) 93vw, (max-width: 767px) 27vw, (max-width: 991px) 32vw, 41vw" 
            data-w-id="d50e1e5a-7afc-0dbc-1e29-01b33f63cacd" 
            style="opacity:0" alt="">
        <script type="application/json" class="w-json">{
          "items": [
            {
              "type": "image",
              "_id": "5f2032f9568ba0f0de528a11",
            "fileName": "diagram 1.jpg",
            "origFileName": "diagram 1.jpg",
            "width": 843,
            "height": 597,
            "fileSize": 671431,
            "url": "{% static 'themes/trace/images/diagram-1.jpg' %}"
          }
        ]
      }</script>
    </a>
    <a href="/page/about/" 
          data-w-id="a23f653c-aa14-c8b8-6494-fbce5d4c4d83" 
          style="opacity:0" 
          class="submit-button white w-button">
      Read more
    </a>
  </div>
  <div class="left-col">
    <div class="button-container">
      <img src="{% static 'themes/trace/images/Time.png' %}" 
          srcset="{% static 'themes/trace/images/Time-p-500.png' %} 500w, 
                  {% static 'themes/trace/images/Time.png' %} 626w" 
          sizes="(max-width: 479px) 48px, 64px" 
          data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdedf" 
          style="opacity:0" 
          alt="Time" 
          class="sample-images">
    </div>
    <h2 data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdee0" style="opacity:0">Efficient Contact Tracing in Baguio</h2>
    <div>
      <div data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdee3" style="opacity:0" class="w-richtext">
        <p>Once people have acquired the app, they will log their information into the “TRACE”App where their unique QR Code will be generated. This QR code system shall contain information that is essential toContact Tracing. The QR Code can be saved as a photo in your smartphone, and can also be printed and be used as a Pass for the residents of Baguio City.This system aims to include people from all walks of life: People who have technology at the palm of their hands, and people who do not. People who do not have the app may continue to write on every establishment’s logbook.</p>
        <p><br></p>
      </div>
      <div data-w-id="2c565597-acdb-119d-83c6-cfc0ddaed4d2" style="opacity:0" class="accordion-group">
        <div data-w-id="2c565597-acdb-119d-83c6-cfc0ddaed4d3" class="accordion-title-panel">
          <h5 class="accordion-heading">Read More</h5>
          <img src="{% static 'themes/trace/images/icon-arrow-right.svg' %}" alt="" class="accordion-arrow">
        </div>
        <div style="display:none;opacity:0" class="accordion-content">
          <p>We currently have a system that can take 10,000 users per minute. We are able to receive user data and we are able to organize them for establishments to have accurate information for when the Contact Tracing Team would need their cooperation. We will be able to label establishments that will need to be disinfected immediately and whose staff would need to be tested (rapid). We will be able to inform people if they have been in the same place as a COVID-19 Positive patient. Close Contact Monitoring will be faster and more efficient. Gradually, as we get every person in Baguio to use the app and rid of the manual logbooks, the number of our users will grow, so we will need support from outside of our team in order to continue, polish, and make the application bigger and better than it already is; in order to accommodate all the users who would like to be a part of “TRACE”.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section mobile">
  <div class="left-col-2">
    <div class="button-container">
      <img src="{% static 'themes/trace/images/Music.png' %}" 
          srcset="{% static 'themes/trace/images/Music-p-500.png' %} 500w, 
                  {% static 'themes/trace/images/Music.png' %} 626w" 
          sizes="(max-width: 479px) 48px, 64px" 
          data-w-id="9e198fe1-8715-2425-ad78-0212df18fc73" 
          style="opacity:0" 
          alt="Music" 
          class="sample-images">
    </div>
    <h2 data-w-id="39d67b8f-cb66-c6da-2717-a581599639f7" style="opacity:0">
      How will we integrate the Contact Tracing Application in the Contact Tracing System of Baguio City ?
    </h2>
    <div>
      <div data-w-id="9e198fe1-8715-2425-ad78-0212df18fc6c" style="opacity:0" class="rich-text-block-2 w-richtext">
        <p>This Contact Tracing Application will be used particularly to identify close contacts of a Positive COVID 19 patient immediately lessening the delays, in the manual searching of logbooks of the contact tracing team. Since this application will note the 14 day travel history  of the patient, there will be less gaps in the investigation of the  contact tracing team to locate other close contacts. The application aims to involve the residents of Baguio more to the COVID-19 situation in order to ease the burden of not knowing whether they are close contacts or not. Eventually , this can help people realize the notion of self-quarantine and seeking medical attention if ever they carry the symptoms of COVID-19</p>
        <p><br></p>
      </div>
    </div>
  </div>
  <div class="right-col-2 black">
    <a href="#" class="w-inline-block w-lightbox">
      <img src="{% static 'themes/trace/images/diagram.png' %}" 
          srcset="{% static 'themes/trace/images/diagram-p-500.png' %} 500w, 
                  {% static 'themes/trace/images/diagram-p-800.png' %} 800w, 
                  {% static 'themes/trace/images/diagram-p-1080.png' %} 1080w, 
                  {% static 'themes/trace/images/diagram-p-1600.png' %} 1600w, 
                  {% static 'themes/trace/images/diagram-p-2000.png' %} 2000w, 
                  {% static 'themes/trace/images/diagram.png' %} 2052w" 
          sizes="(max-width: 479px) 93vw, (max-width: 767px) 31vw, (max-width: 991px) 35vw, (max-width: 4772px) 43vw, 2052px" 
          data-w-id="f9c9a804-5fe2-0708-09a5-ad55aea66dd5" 
          style="opacity:0" alt="Diagram">
      <script type="application/json" class="w-json">{
        "items": [
          {
            "type": "image",
            "_id": "5f2032f9e9420339b73ad601",
            "fileName": "diagram 2.jpg",
            "origFileName": "diagram 2.jpg",
            "width": 843,
            "height": 597,
            "fileSize": 741726,
            "url": "{% static 'themes/trace/images/diagram-2.jpg' %}"
          }
        ]
      }</script>
    </a>
    <a href="/page/about/" data-w-id="7e95a588-b0ef-5dd1-12cb-553bc6cc999b" style="opacity:0" class="submit-button white w-button">Read more</a>
  </div>
</div>

{% endblock %}