{% load static %}
{% block content %}
<div class="section-2">
    <div class="data-container w-container">
        <div class="data-col w-row">
            <div data-w-id="0f283e8b-dcbf-ee02-1c90-dc9b5eddc656" style="opacity:0;-webkit-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-col w-col-4 w-col-stack">
                <div class="header-container">

                    <!-- PIO Announcements -->
                    <!--div class="fb-page" data-href="https://www.facebook.com/pio.baguio/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pio.baguio/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pio.baguio/">Public Information Office - City of Baguio</a></blockquote></div-->

                    <h3>Covid Related Resource Links</h3>

                    <a href="https://www.facebook.com/pio.baguio/" class="submit-button w-button">
                        Public Information Office Baguio
                    </a>

                    <a href="https://http://endcov19.baguio.gov.ph" class="submit-button w-button">
                        End Cov Baguio
                    </a>

                    <a href="https://hdf.baguio.gov.ph/welcome" class="submit-button w-button">
                        HDF Baguio
                    </a>                  

                </div>

                <div class="header-container">
                    <h4 class="text-center">Confirmed Cases</h4>
                    <hr/>
                    <div class="w-layout-grid grid">
                        <div class="case-cat">ACTIVE</div>
                        <div class="case-cat">DEATHS</div>
                        <div class="case-cat">RESOLVED</div>
                        <div class="case-number">50</div>
                        <div class="case-number">2</div>
                        <div class="case-number">48</div>
                    </div>

                    <br/>
                    
                    <img src="{% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM.png' %}" 
                        srcset="{% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM-p-500.png' %} 500w, 
                                {% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM-p-800.png' %} 800w, 
                                {% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM-p-1080.png' %} 1080w, 
                                {% static 'themes/trace/images/Screen-Shot-2020-07-27-at-8.26.54-PM.png' %} 1120w" 
                        sizes="(max-width: 479px) 61vw, (max-width: 767px) 70vw, (max-width: 991px) 75vw, 27vw" 
                        alt="" 
                        class="chart">

                    <!--div class="w-layout-grid grid">
                        <div class="case-cat">Probable Cases</div>
                        <div class="case-cat">Suspected Active</div>
                        <div class="case-cat"></div>
                        <div class="case-number">281</div>
                        <div class="case-number">225 (Active)</div>
                        <div class="case-number">1,523 (Recovered)</div>
                    </div>
                    <div class="w-layout-grid grid">
                        <div class="case-cat">Possible</div>
                        <div class="case-cat">Completed Quaratine</div>
                        <div class="case-cat"></div>
                        <div class="case-number">2,938</div>
                        <div class="case-number">18,655</div>
                        <div class="case-number"></div>
                    </div-->
                </div>
            </div>
            <div data-w-id="0f283e8b-dcbf-ee02-1c90-dc9b5eddc657" style="opacity:0;-webkit-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-col w-col-4 w-col-stack">
                
                <div class="header-container">
                    
                    <h3>Baguio, the future of this pandemic in your hands</h3>

                    <p>The Corona Virus has hit hard globally and it is affecting the common public more than most. Anyone can be caught off guard and get infected, this is the reason why everyone must keep vigilant. As residents of one of the cities who've succesfully kept infection numbers low, it is known that this has only been possible with the cooperations of its citizens.</p>

                    <p>We believe we can further help our LGU and give people more freedom by enabling locals and establishments help make contact tracing quicker thru voluntary disclosure of location logs for contact tracing purposes.</p>

                </div>
            </div>
            <div data-w-id="3365dc84-7167-0447-cabc-dc76596f4310" style="opacity:0;-webkit-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-col w-col-4 w-col-stack">
                <div class="header-container">

                    <h3 class="heading">Establishments</h3>

                    <p>The LGU requires log entries for each patron entering your premises, make it easier for your customers by simple letting them scan your establishments QR code.</p>

                    <div class="reg-div"><a href="#" class="submit-button w-button">Register as an Establishment</a></div>

                    <h3 class="heading">Users</h3>

                    <p>Avoid long lines by quickly logging your location using our Progressive Web App.</p>

                    <div class="reg-div"><a href="#" class="submit-button w-button">Register as a User</a></div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="section mobile">
    <div class="left-col">
        <div class="button-container">
            <img 
                src="images/Digital.png" 
                srcset="{% static 'themes/trace/images/Digital-p-500.png' %} 500w, 
                        {% static 'themes/trace/images/Digital.png' %} 626w" 
                sizes="(max-width: 479px) 48px, 64px" 
                data-w-id="8558cfe9-2d0f-a867-f364-23bb19c5e19d" 
                style="opacity:0" 
                alt="Digital Solutions" 
                class="sample-images">
        </div>
        <h2 
            data-w-id="48bfab11-9aeb-3a90-d1bd-840a3bae22dd" 
            style="opacity:0">
                About TRACE
        </h2>
        <div>
            <div 
                data-w-id="8558cfe9-2d0f-a867-f364-23bb19c5e197" 
                style="opacity:0" 
                class="w-richtext">
                    <p>Trace is an easy access PWA, totally free for public use to aid Establishments or Entry Points to quickly log users thru the use of QR codes. Trace then submits the data to the City Contact Tracing Center for their perusal.</p>
            </div>
            <div class="button-container">
                <a href="#" data-w-id="8558cfe9-2d0f-a867-f364-23bb19c5e1a2" style="opacity:0" class="button-2 trans w-button">Request a demo</a>
            </div>
        </div>
    </div>
    <div class="right-col">
        <img src="{% static 'themes/trace/images/UI-bigger.png' %}" data-w-id="edbfbd4c-208a-bb94-fd3b-e418803eedcf" style="opacity:0" alt="Trace UI" class="image-3"></div>
    </div>
    <div class="section mobile opposite">
        <div class="right-col diagram">
            <img 
                src="{% static 'themes/trace/images/diagram-1.png' %}" 
                srcset="{% static 'themes/trace/images/diagram-1-p-500.png' %} 500w, 
                        {% static 'themes/trace/images/diagram-1-p-800.png' %} 800w, 
                        {% static 'themes/trace/images/diagram-1.png' %} 850w" 
                sizes="(max-width: 479px) 93vw, (max-width: 767px) 27vw, (max-width: 991px) 32vw, 41vw" 
                data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdeeb" 
                style="opacity:0" alt="">
        </div>
        <div class="left-col">
            <div class="button-container">
                <img 
                    src="{% static 'themes/trace/images/Morning.png' %}" 
                    srcset="{% static 'themes/trace/images/Morning-p-500.png' %} 500w, 
                            {% static 'themes/trace/images/Morning.png' %} 626w" 
                    sizes="(max-width: 479px) 48px, 64px" 
                    data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdedf" 
                    style="opacity:0" 
                    alt="Morning" 
                    class="sample-images">
            </div>
            <h2 data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdee0" style="opacity:0">
                Efficient Contact Tracing in Baguio
            </h2>
            <div>
                <div data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdee3" style="opacity:0" class="w-richtext">
                    
                    <p>Each individual in Baguio will have a QR Code. This QR code system contains information that is essential to contact tracing. This can be saved in smartphones or can be printed and be used as a Pass for the residents of Baguio City. </p>

                    <p>The City of Baguio will create an ordinance, requiring High Risk Areas such as Markets, Malls, Banks, Hospitals, Checkpoints and even transportation system to assign scanners at the entrance before an individual will enter their vicinity . The scanners can use their smartphones to log in people in real time coming to their establishments where this will be listed and be centralized in the data system of the City Health Office. This will eliminate the usage of logbooks and the gaps in tracing for the contact tracers.</p>

                </div>
                <div 
                    data-w-id="2c565597-acdb-119d-83c6-cfc0ddaed4d2" 
                    style="opacity:0" 
                    class="accordion-group">
                    <div data-w-id="2c565597-acdb-119d-83c6-cfc0ddaed4d3" class="accordion-title-panel">
                        <h5 class="accordion-heading">Read More</h5>
                        <img src="{% static 'themes/trace/images/icon-arrow-right.svg' %}" alt="" class="accordion-arrow">
                    </div>
                    <div style="display:none;opacity:0" class="accordion-content">

                        <p>The application system, will also be designed to inform the close contacts of a positive COVID -19 patient via text message. This can be done by getting the travel history of the COVID patient for the past two weeks using the system.  The data system, can also organize and line list the close contacts of the COVID patient according to barangays. This list will be used as a guide  by the health teams and other partner sectors of each barangays for close contact monitoring.</p>
                            
                        <p>Eventually, this can help in gatekeeping patients to avoid overwhelming hospital facilities.</p>
                        
                        <p>Another feature of the application system is informing immediately the establishment If a positive COVID -19 patient has been to their premises. This is to help in the immediate disinfection of the establishment so as to avoid infection of the disease.</p>
                        
                        <p>If this system works, Baguio City can be a model community for an efficient contact tracing system using an Application system which can be adapted by the other provinces in the Philippines to control the rise of COVID -19 .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section mobile">
        <div class="left-col-2">
            <div class="button-container">
                <img 
                    src="{% static 'themes/trace/images/Music.png' %}" 
                    srcset="{% static 'themes/trace/images/Music-p-500.png' %} 500w, 
                            {% static 'themes/trace/images/Music.png' %} 626w" 
                    sizes="(max-width: 479px) 48px, 64px" 
                    data-w-id="9e198fe1-8715-2425-ad78-0212df18fc73" 
                    style="opacity:0" alt="Music" class="sample-images">
            </div>
            <h2 data-w-id="39d67b8f-cb66-c6da-2717-a581599639f7" style="opacity:0">
                How will we integrate the Contact Tracing Application in the Contact Tracing System of Baguio City ?
            </h2>
            <div>
                <div data-w-id="9e198fe1-8715-2425-ad78-0212df18fc6c" style="opacity:0" class="rich-text-block-2 w-richtext">
                    <p>This Contact Tracing Application will be used particularly to identify close contacts of a Positive COVID 19 patient immediately lessening the delays, in the manual searching of logbooks of the contact tracing team. Since this application will note the 14 day travel history  of the patient, there will be less gaps in the investigation of the  contact tracing team to locate other close contacts. The application aims to involve the residents of Baguio more to the COVID-19 situation in order to ease the burden of not knowing whether they are close contacts or not. Eventually , this can help people realize the notion of self-quarantine and seeking medical attention if ever they carry the symptoms of COVID-19</p>
                    
                </div>
            </div>
        </div>
        <div class="right-col-2 black">
            <img 
                src="{% static 'themes/trace/images/diagram.png' %}" 
                srcset="{% static 'themes/trace/images/diagram-p-500.png' %} 500w, 
                        {% static 'themes/trace/images/diagram-p-800.png' %} 800w, 
                        {% static 'themes/trace/images/diagram-p-1080.png' %} 1080w, 
                        {% static 'themes/trace/images/diagram-p-1600.png' %} 1600w, 
                        {% static 'themes/trace/images/diagram-p-2000.png' %} 2000w, 
                        {% static 'themes/trace/images/diagram.png' %} 2052w" 
                sizes="(max-width: 479px) 70vw, (max-width: 767px) 31vw, (max-width: 991px) 35vw, (max-width: 4772px) 43vw, 2052px" 
                data-w-id="414d99eb-72f1-bdc1-722e-f2eb95a9a8be" 
                style="opacity:0" 
                alt="Diagram" 
                class="image">
        </div>
    </div>
{% endblock %}
