{% load static %}
{% block content %}

<div data-w-id="7576208a-4968-b81f-8569-eb764be28ee4" class="splash-sec">
  <div data-animation="slide" data-hide-arrows="1" data-duration="500" class="slider w-slider">
    <div class="w-slider-mask">
      <div class="slide w-slide">
        <div class="slide-container">
          <div class="div-block-2"><img src="{% static 'themes/trace/images/Trace-Bantay-Digital.png' %}" srcset="{% static 'themes/trace/images/Trace-Bantay-Digital-p-500.png' %} 500w, {% static 'themes/trace/images/Trace-Bantay-Digital.png' %} 562w" sizes="(max-width: 479px) 69vw, (max-width: 767px) 37vw, 100vw" alt="" class="slide-img logo"></div>
          <div class="text-block-5">Trace is a Progressive Web App (PWA) that can be opened using the browser of a smart phone or computer. TRACE helps establishments and residents to log in their name and other important details. A QR code will be generated which contains their details and will be used for contact tracing.</div><a href="/trace/register/resident/#nav-register-resident-content" class="button login w-button">Register</a><a href="/login/" class="link-log-in">Log in your account</a><a data-w-id="a74c6c48-23a8-4822-58fc-feaca0a1e1b1" href="#" class="link-log-in">Skip</a></div>
      </div>
      <div class="slide w-slide">
        <div class="slide-container">
          <div class="div-block-2"><img src="{% static 'themes/trace/images/Digital.png' %}" srcset="{% static 'themes/trace/images/Digital-p-500.png' %} 500w, {% static 'themes/trace/images/Digital.png' %} 626w" sizes="(max-width: 479px) 35vw, (max-width: 767px) 37vw, 100vw" alt="" class="slide-img small-invert"></div>
          <div class="slide-text"><strong>Trace.bantay.digital</strong> is a very small team of professionals and artists, volunteering time and effort to create an absolutely free log book replacement app for easy contact tracing. We would appreciate any bug reports and suggestions. Volunteers are also welcome!</div><a href="/trace/register/resident/#nav-register-resident-content" class="button login w-button">Register</a><a href="/login/" class="link-log-in">Log in your account</a><a data-w-id="f8140d0e-29e2-eb00-e0e9-aa674f6845d8" href="#" class="link-log-in">Skip</a></div>
      </div>
    </div>
    <div class="w-slider-arrow-left">
      <div class="icon-2 hide w-icon-slider-left"></div>
    </div>
    <div class="w-slider-arrow-right">
      <div class="icon-2 hide w-icon-slider-right"></div>
    </div>
    <div class="slide-nav w-slider-nav w-round"></div>
  </div>
</div>
<div class="header">
  <div class="hero-content left-hero">
    <h1 class="heading-4">TRACE is a web app alternative for recordbooks.</h1>
    <div>A REAL-TIME easy-to-use QR system to identify and trace close contacts of POSITIVE Covid-19 individuals.</div>
    <div class="reg-div"><a href="/trace/register/resident/#nav-register-resident-content" class="submit-button white w-button">Register now!</a><a href="https://drive.google.com/file/d/1dJ375ifuZoa4bH8DhrQfMkZB1rbSg3IP/view?usp=sharing" class="submit-button white read w-button">Read more</a></div>
  </div>
  <div class="hero-content"><img src="{% static 'themes/trace/images/Home-.png' %}" alt="" class="qr-mockup"></div>
</div>
<div>
  <div class="header-container-2">
    <div class="register-wrapper">
      <div class="register-content">
        <h3 class="heading pink">Register as a resident!</h3>
        <p class="pink">Avoid long lines by quickly logging your location using our Progressive Web App.</p>
        <div class="reg-div"><a href="/trace/register/resident/#nav-register-resident-content" class="submit-button reg w-button">Register as an establishment</a></div>
      </div>
      <div class="register-content">
        <h3 class="heading green">Register as an establishment!</h3>
        <p class="green">The Establishments requires log entries for each patron entering your premises, make it easier for your customers by simple letting them scan your establishments QR code.</p>
        <div class="reg-div"><a href="/trace/register/establishment/#nav-register-establishment-content" class="submit-button reg green w-button">Register as an establishment</a></div>
      </div>
      <div class="register-content">
        <h3 class="heading orange">Register as an LGU!</h3>
        <p class="orange">The LGU will help its residents register. Residents without smart phones or desktop computer will be able to have their QR codes by the help of the LGU. They will also monitor the safety of the community.</p>
        <div class="reg-div"><a href="/trace/register/establishment/#nav-register-lgu-content" class="submit-button reg orange w-button">Register as an LGU</a></div>
      </div>
    </div>
  </div>
</div>
<div class="section mobile">
  <div class="left-col">
    <div class="button-container"><img src="{% static '
      ' %}" srcset="{% static 'themes/trace/images/Digital-p-500.png' %} 500w, {% static 'themes/trace/images/Digital.png' %} 626w" sizes="(max-width: 479px) 48px, 64px" data-w-id="8558cfe9-2d0f-a867-f364-23bb19c5e19d" style="opacity:0" alt="" class="sample-images"></div>
    <h3>The future of this pandemic in your hands</h3>
    <div>
      <p>The Corona Virus has hit hard globally and it is affecting the common public more than most. Anyone can be caught off guard and get infected, this is the reason why everyone must keep vigilant. As residents of one of the cities who&#x27;ve succesfully kept infection numbers low, it is known that this has only been possible with the cooperations of its citizens. We believe we can further help our LGU and give people more freedom by enabling locals and establishments help make contact tracing quicker thru voluntary disclosure of location logs for contact tracing purposes.</p>
    </div>
  </div>
  <div class="right-col vert">
    <div class="who-content"><img src="{% static 'themes/trace/images/Morning.png' %}" srcset="{% static 'themes/trace/images/Morning-p-500.png' %} 500w, {% static 'themes/trace/images/Morning.png' %} 626w" sizes="(max-width: 479px) 48px, 64px" data-w-id="76ac97c5-e219-44aa-f370-8d5ad9a5f808" style="opacity:0" alt="" class="sample-images invert">
      <h2>What is TRACE</h2>
      <div>It is a Progressive Web App (PWA) that can be accessed via the browser of any smart phone or computer. It is where establishments, checkpoints and community members log in details such as name, age, address, contact number, temperature, time of log in, etc.<br><br>A REAL-TIME easy-to-use QR code app to identify and trace close contacts of POSITIVE Covid-19 individuals. <br><br>It shows the 14-day travel history of patients.</div><a href="https://drive.google.com/file/d/1dJ375ifuZoa4bH8DhrQfMkZB1rbSg3IP/view?usp=sharing" target="_blank" class="button black white w-button">Read More</a></div>
    <div class="who-content freen"><img src="{% static 'themes/trace/images/Eye.png' %}" alt="" class="sample-images">
      <h2>Who we are</h2>
      <div>We are a small team of professionals and artists that has devoted their time, effort and talent into creating an ABSOLUTELY FREE contact tracing app to replace logbooks.</div><a href="https://bantay.digital/" target="_blank" class="button black w-button">Read More</a></div>
  </div>
</div>
<div class="section mobile opposite hide">
  <div class="right-col diagram"><a href="#" class="w-inline-block w-lightbox"><img src="{% static 'themes/trace/images/diagram-1.png' %}" srcset="{% static 'themes/trace/images/diagram-1-p-500.png' %} 500w, {% static 'themes/trace/images/diagram-1-p-800.png' %} 800w, {% static 'themes/trace/images/diagram-1.png' %} 850w" sizes="100vw" data-w-id="d50e1e5a-7afc-0dbc-1e29-01b33f63cacd" style="opacity:0" alt=""><script type="application/json" class="w-json">{
"items": [
  {
    "type": "image",
    "_id": "5f2032f9568ba0f0de528a11",
    "fileName": "diagram 1.jpg",
    "origFileName": "diagram 1.jpg",
    "width": 843,
    "height": 597,
    "fileSize": 671431,
    "url": "{% static 'themes/trace/images/diagram-1.jpg' %}"
  }
]
}</script></a><a href="about.html" data-w-id="a23f653c-aa14-c8b8-6494-fbce5d4c4d83" style="opacity:0" class="submit-button white w-button">Read more</a></div>
  <div class="left-col">
    <div class="button-container"><img src="{% static 'themes/trace/images/Time.png' %}" srcset="{% static 'themes/trace/images/Time-p-500.png' %} 500w, {% static 'themes/trace/images/Time.png' %} 626w" sizes="100vw" data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdedf" style="opacity:0" alt="" class="sample-images"></div>
    <h2 data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdee0" style="opacity:0">Help us make Contact Tracing more efficient in Baguio</h2>
    <div>
      <div data-w-id="5447fe5f-b2df-1ba8-7c27-daa82bbcdee3" style="opacity:0" class="w-richtext">
        <p>The QR Code system will contain</p>
        <p><br></p>
      </div>
    </div>
  </div>
</div>
<div class="section mobile hide">
  <div class="left-col-2">
    <div class="button-container"><img src="{% static 'themes/trace/images/Music.png' %}" srcset="{% static 'themes/trace/images/Music-p-500.png' %} 500w, {% static 'themes/trace/images/Music.png' %} 626w" sizes="100vw" data-w-id="9e198fe1-8715-2425-ad78-0212df18fc73" style="opacity:0" alt="" class="sample-images"></div>
    <h2 data-w-id="39d67b8f-cb66-c6da-2717-a581599639f7" style="opacity:0">How will we integrate the Contact Tracing Application in the Contact Tracing System of Baguio City ?</h2>
    <div>
      <div data-w-id="9e198fe1-8715-2425-ad78-0212df18fc6c" style="opacity:0" class="rich-text-block-2 w-richtext">
        <p>This Contact Tracing Application will be used particularly to identify close contacts of a Positive COVID 19 patient immediately lessening the delays, in the manual searching of logbooks of the contact tracing team. Since this application will note the 14 day travel history  of the patient, there will be less gaps in the investigation of the  contact tracing team to locate other close contacts. The application aims to involve the residents of Baguio more to the COVID-19 situation in order to ease the burden of not knowing whether they are close contacts or not. Eventually , this can help people realize the notion of self-quarantine and seeking medical attention if ever they carry the symptoms of COVID-19</p>
        <p><br></p>
      </div>
    </div>
  </div>
  <div class="right-col-2 black"><a href="#" class="w-inline-block w-lightbox"><img src="{% static 'themes/trace/images/diagram.png' %}" srcset="{% static 'themes/trace/images/diagram-p-500.png' %} 500w, {% static 'themes/trace/images/diagram-p-800.png' %} 800w, {% static 'themes/trace/images/diagram-p-1080.png' %} 1080w, {% static 'themes/trace/images/diagram-p-1600.png' %} 1600w, {% static 'themes/trace/images/diagram-p-2000.png' %} 2000w, {% static 'themes/trace/images/diagram.png' %} 2052w" sizes="100vw" data-w-id="f9c9a804-5fe2-0708-09a5-ad55aea66dd5" style="opacity:0" alt=""><script type="application/json" class="w-json">{
"items": [
  {
    "type": "image",
    "_id": "5f2032f9e9420339b73ad601",
    "fileName": "diagram 2.jpg",
    "origFileName": "diagram 2.jpg",
    "width": 843,
    "height": 597,
    "fileSize": 741726,
    "url": "{% static 'themes/trace/images/diagram-2.jpg' %}"
  }
]
}</script></a><a href="about.html" data-w-id="7e95a588-b0ef-5dd1-12cb-553bc6cc999b" style="opacity:0" class="submit-button white w-button">Read more</a></div>
</div>

{% endblock %}
