{% extends theme_config.wyverntheme_base_layout %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container registration mt-5 mb-5">
  <div class="row">
    <nav>
      <div class="nav nav-tabs" id="nav-register" role="tablist">
        <a class="nav-item nav-link" id="nav-register-establishment" data-toggle="tab" href="#nav-register-establishment-content" role="tab" aria-controls="nav-register-establishment" aria-selected="true">
          <h4>Establishment</h4>
        </a>
        <a class="nav-item nav-link" id="nav-register-resident" data-toggle="tab" href="#nav-register-resident-content" role="tab" aria-controls="nav-register-resident" aria-selected="false">
          <h4>Resident</h4>
        </a>
        <a class="nav-item nav-link" id="nav-register-lgu" data-toggle="tab" href="#nav-register-lgu-content" role="tab" aria-controls="nav-register-lgu" aria-selected="false">
          <h4>Local Government Unit</h4>
        </a>
      </div>
    </nav>
    <div class="tab-content" id="nav-registerContent">
      <div class="tab-pane fade" id="nav-register-establishment-content" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Register as an Establishment
            </h4>
            <hr/>
            <p>Help patrons log their visit with ease</p>
            <hr/>
            {% if establishment_form.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    There are errors in your submission.
                </div>
                <hr/>
            {% endif %}
            {% include 'themes/trace/partials/forms/establishment-form.html'%}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-register-resident-content" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Register as a Resident
            </h4>
            <hr />
            <p>Help establishments log your visits with ease.</p>
            <hr/>
            {% if resident_form.errors %}
                <div class="alert alert-danger mt-1" role="alert">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    There are errors in your submission
                </div>
                <hr/>
            {% endif %}
            {% include 'themes/trace/partials/forms/resident-form.html'%}
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-register-lgu-content" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="alert alert-info">
          <h3>Send us an email with your details to info.bantay.digital</h3>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
