{% extends theme_config.wyverntheme_base_layout %} {% load static %} {% load
crispy_forms_tags %} {% block content %}

<div class="col-md-8 offset-md-2 mt-2 form-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {% if not request.user.is_authenticated %}
    <h3>Account Information</h3>
    <hr />
    {% if user_form.errors %} {% for error in user_form.errors %}
    <div class="alert alert-primary mt-1" role="alert">{{ error|escape }}</div>
    {% endfor %}
    <hr />
    {% endif %}
    <div class="row">
      <div class="col-md-6">{{ user_form.email | as_crispy_field }}</div>
      <div class="col-md-6">{{ user_form.password | as_crispy_field }}</div>
      <div class="col-md-6">{{ user_form.username.as_hidden }}</div>
    </div>
    {% endif %}
    <h3>Student Enrollment</h3>
    <hr />
    {% if form.errors %} {% for error in form.errors %}
    <div class="alert alert-primary mt-1" role="alert">{{ error|escape }}</div>
    {% endfor %}
    <hr />
    {% endif %}
    <div class="row">
      <div class="col-md-4">
        {{ form.wyvernlms_firstname | as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.wyvernlms_middlename | as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.wyvernlms_lastname | as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{ form.wyvernlms_birthdate | as_crispy_field }}
      </div>
      <div class="col-md-6">{{ form.wyvernlms_gender | as_crispy_field }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{ form.wyvernlms_email_address | as_crispy_field }}
        <small>*Will have to match your account email</small>
      </div>
      <div class="col-md-6">
        {{ form.wyvernlms_mobile_number | as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{ form.wyvernlms_prev_school | as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.wyvernlms_year_graduated | as_crispy_field }}
      </div>
    </div>
    <hr />
    <input type="hidden" value="/dashboard" name="next" />
    <button type="submit" class="btn btn-success float-right">
      {% if request.user.is_authenticated %} Update Enrollment {% else %} Enroll
      {% endif %}
    </button>
  </form>
</div>

{% endblock %}
