.widget-recent-products {
    .product-image-container {
        height: 150px;
        min-height: 150px;
        overflow: hidden;

        background-color: #cecece;

        p {
            font-weight: 600;
            text-align: center;
            margin-top: 60px;
            color: #fff;
        }

        img {
            margin-top: -25%;
        }
    }
}