
<div class="contact-form form-container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                <br/>
                <div class="messages">
                    {% for message in messages %}
                    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        <strong>{{ message }}</strong>
                    </span>
                    {% endfor %}
                </div>
            {% endif %}    
            <br/>
            <form action="/contact/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control mt-2" placeholder="Name" name="name" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control mt-2" placeholder="Email Address" name="email" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="tel" class="form-control mt-2" placeholder="Telephone" name="telephone" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control mt-2" id="message" placeholder="Inquiry" rows="4" name="inquiry" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="{{ site.site_recaptcha}}" data-callback="enableContact"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-success btn-lg pull-right" id="contact-submit" type="submit" disabled="disabled">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
