<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-logs' %}">
            View  Logs
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-view-users' 'residents' %}">
            View Residents
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-view-users' 'establishments' %}">
            View Establishments
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-map' %}" target="_blank">
            View Live Map
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-register' %}" onclick="alert('This feature is still being built, please register through our signup form for the meantime'); return false;">
            Register Users
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-details' %}" onclick="alert('This feature is still being built.'); return false;">
            Edit LGU Details
        </a>
    </li>
    <li class="list-group-item" onclick="alert('This feature is still being built.'); return false;">
        <a href="#">
            Edit Homepage
        </a>
    </li>
    <li class="list-group-item">&nbsp;</li>
    <li class="list-group-item">
        <a href="{% url 'contact-page' %}">
            Contact Support (info@bantay.digital)
        </a>
    </li>
</ul>