{% load static qr_code crispy_forms_tags tz %}

<input type="hidden" id="user_type" value="{% if request.user.is_location%}LOCATION{% else %}USER{% endif %}"/>
<input type="hidden" id="user_uuid" value="{{ request.user.uuid }}"/>
<input type="hidden" id="user_first_name" value="{{ request.user.first_name }}"/>
<input type="hidden" id="user_last_name" value="{{ request.user.last_name }}"/>
<input type="hidden" id="user_phone" value="{{ request.user.phone }}"/>
<input type="hidden" id="user_address" value="{{ request.user.address }}"/>

<ul class="list-group">
    <li class="list-group-item">
      {% if isuser_view %}
        <h5 class="mt-4"> This is the user's QR code</h5>
      {% else %}
        <h5 class="mt-4">This is your LGU QR code</h5>
      {% endif %}
        <hr/>
        <div class="qr-container">
            {% if isuser_view %}
            {% qr_from_text lgu_user.uuid size=20 border=6 %}
            <h4>{{ lgu_user.first_name }}</h4>
            <hr/>
            <p>{{ lgu_user.address }}</p>
            <hr/>
            {% else %}
            {% qr_from_text user.uuid size=20 border=6 %}
            <h4>{{ user.first_name }}</h4>
            <hr/>
            <p>{{ user.address }}</p>
            <hr/>
            {% endif %}
            <a href="#" class="btn btn-primary mt-3" data-toggle="modal" data-target="#qr-code-reader">Launch QR reader</a>
            {% include 'themes/basic/includes/qr-code/qr-code-reader-modal.html' %}
            {% if isuser_view %}
            <a href="#" class="btn btn-primary mt-3" data-toggle="modal" data-target="#print-id">Print User ID</a>
            {% include 'themes/basic/includes/resident-id/resident-id-modal.html' with user=lgu_user %}
            {% else %}
            <a href="#" class="btn btn-primary mt-3" data-toggle="modal" data-target="#print-id">Print LGU ID</a>
            {% include 'themes/basic/includes/lgu-id/lgu-id-modal.html' %}
            {% endif %}
        <hr/>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-logs' %}">
            View  Logs
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-view-users' 'residents' %}">
            View Residents
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-view-users' 'establishments' %}">
            View Establishments
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-map' %}" target="_blank">
            View Live Map
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-register' %}" onclick="alert('This feature is still being built, please register through our signup form for the meantime'); return false;">
            Register Users
        </a>
    </li>
    <li class="list-group-item">
        <a href="{% url 'trace-lgu-details' %}" onclick="alert('This feature is still being built.'); return false;">
            Edit LGU Details
        </a>
    </li>
    <li class="list-group-item" onclick="alert('This feature is still being built.'); return false;">
        <a href="#">
            Edit Homepage
        </a>
    </li>
    <li class="list-group-item">&nbsp;</li>
    <li class="list-group-item">
        <a href="{% url 'contact-page' %}">
            Contact Support (info@bantay.digital)
        </a>
    </li>
</ul>
