{% extends theme_config.wyverntheme_base_layout %}
{% load static %}

{% block content %}    

    {% if post.post_custom_template %}
        {% with post.post_custom_template|add:".html" as custom_template %}
            {% include custom_template %}
        {% endwith %}
    {% else %}

    <div class="container main-container">

        <div class="row">

            <div class="col-lg-12 mt-3">
                <h1>{{ post.post_title }}</h1>
                
                {% if post.post_slug == 'blog' %}
                    {% include 'themes/basic/blog/posts/partials/post-list.html' %}
                {% else %}
                    <hr/>
                    {% if post.post_seo_author %}
                        by <strong>{{ post.post_seo_author }}</strong>
                    {% endif %}
                    {% if post.post_seo_author and post.date_created %}
                    <br/>
                    {% endif %}
                    {% if post.date_created %}
                        posted <strong>{{ post.date_created }}</strong>
                    {% endif %}
                
                    <hr/>

                    <article>
                        {% autoescape off %}
                            {{ post.post_content }}
                        {% endautoescape %}
                    </article>
                {% endif %}

                {% if 'Contact' in post.post_title %}
                    {% include 'themes/basic/includes/contact.html' %}
                {% endif %}
            </div>

        </div>

    </div>

    {% endif %}

{% endblock %}